@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

body {
	margin: 0;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

h1, h2, h3, nav a {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

header {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	height: 70px;
}

header h1 {
	margin: 0;
	line-height: 70px;	
	margin-left: 1.2rem;
}

.hamburger {
	display: none;
}

nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav a {
	display: block;
	line-height: 70px;
	padding: 0 1.2rem;
	color: white;
	font-size: 1.2em;
	text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:active {
	background-color: rgba(255,255,255,0.2);
	outline: none;
}



footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 1.3rem;
}

footer a {
	color: white;
}

@media only screen and (max-width: 580px){

	/* Switch Multi-Column Layout to
	   single column layout here */
	

	/* Mobile Navigation Styles */

    /* Hamburger Styles */
    .hamburger {
        display: block;
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .hamburger-icon {
        color: white;
        line-height: 1;
        font-size: 2.4em;
    }

    .hamburger:focus,
    .hamburger-icon:focus {
        outline: none;
    }
    
    .hamburger:focus .hamburger-icon {
        outline: 5px solid #69c1db;
    }

    .hamburger-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    header {
        flex-wrap: wrap;
		align-items: center;
		height: auto;
    }

    nav {
        height: 0;
        overflow: hidden;
        width: 100%;
        transition: height 0.3s ease;
    }

    nav ul {
        display: block;
    }

    nav a {
        line-height: 40px;
        border-bottom: 1px solid black;
        border-top: 1px solid #afafaf;
    }

    nav li:last-child a {
        border-bottom: 1px solid #afafaf;
    }

    .show nav {
        height: 126px;
    }

}









