
$mycolor : rgb(0, 0, 0);

body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - scss"; }

  body {
   background: $mycolor;
  }