@charset "utf-8";
/* CSS Document */

body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



@media only screen and (max-width: 600px){

	button {
		display: block;
		width: 49px;
		height: 35px;
		background-image: url(../images/hamburger.png);
		background-size: cover;
		border: none;
		background-color: transparent;
		text-indent: 150%;
		overflow: hidden;
		margin-top: 5px;
		margin-bottom: 5px;
		cursor: pointer;
	}
	
	
	
	
}