@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: white;
	background-color: grey;
}

img {
	width: 100%;
	height: auto;
	display: block;
}

.wrapper {
	background-color: white;
	max-width: 900px;
	margin: 0 auto;
}


/* Grid styles */


