@charset "utf-8";
/* CSS Document */

/* Global Variables */
:root {
	
	--brand-color: #4256f4;
   
   /* Grid Variables */
   --one-col: 100%;	
   --two-col: 49%;
   --three-col: 32%;
   --four-col: 23.5%;
	
   /* Layout Variables */
   /* Calculations explained: 
	  30 -> spacing in pixels
	  16 -> 1rem = 16px
	  To figure out the rem value of a 
	  pixel value divide the px value
	  by 16 (assuming the user has left
	  the default size as 16 in the browser
	  settings)
   */
   --space: calc(30 / 16);	
   --pad: calc(var(--space) * 1rem);
   --pad-half: calc(var(--pad) / 2);
	
   /* Font-Stacks	*/
   --font-headings: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
   --font-body: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	
}

/* Resets */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

/* Typography */
body {
	line-height: 1.4;
	font-family: var(--font-body);
}

h1, h2, h3, nav a {
	font-family: var(--font-headings);
}

/* General Styles */
body {
	margin: 0;
	background-color: #2E2E2E;
}

.wrapper {
	content: "asdfas";
	background-color: white;
	max-width: 860px;
	margin: 0 auto;
}

header {
	--color: white;
	background-color: var(--brand-color);
	color: var(--color);
}

header h1 {
	margin: 0;
	padding: var(--pad-half) var(--pad);
}

/* Main Styles */
main {
	padding: var(--pad);
}

main h1:first-child,
main h2:first-child {
	margin-top: 0;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: var(--pad) 0;
}

.col {
	width: var(--three-col);
	padding: var(--pad);
	border: 1px solid #ccc;
	text-align: center;
}

.col figure {
	margin: 0;
}

.col figure h2 {
	margin-top: 0.6em;
	margin-bottom: 0;
	line-height: 1;
}

.box {
	width: 250px;
	height: 250px;
	background-color: #01A24A;
}

.cg-patterns-gallery {
	margin-bottom: 40px;
}

/* CSS Gradient Styles */
.cg-basic {
	background: linear-gradient(to bottom, #0c113f 0%, #9ef785 100%);
}

.cg-generated {
	background: linear-gradient(to bottom, #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 100%);
}

.cg-patterns-gallery {
	background-color:white;
	background-image:
radial-gradient(midnightblue 9px, transparent 10px),        
repeating-radial-gradient(midnightblue 0, midnightblue 4px, transparent 5px, transparent 20px, midnightblue 21px, midnightblue 25px, transparent 26px, transparent 50px);    
	background-size: 30px 30px, 90px 90px; 
	background-position: 0 0;
}

/* Text Fade-out using CSS Gradients */
.cg-fade-out {
	--rgb: 255, 182, 193;
	--bg: rgba(var(--rgb), 1);
	--bg-transparent: rgba(var(--rgb), 0);
	background-color:  var(--bg);
	padding: var(--pad);
}

.cg-fade-out article {
	height: 300px;
	overflow: hidden;
	position: relative;
}

.cg-fade-out article:after {
	content: '';
  	position: absolute;
  	bottom: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
    background: linear-gradient(to bottom, var(--bg-transparent) 65%, var(--bg) 90.5%);
}

.cg-fade-out article.read-more {
	height: auto;
	padding-bottom: var(--pad);
}

.cg-fade-out article.read-more:after {
	display: none;
}

.btn-read-more {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  left: 0;
}


/* footer styles */
footer {
	border-top: 1px dotted #ccc;
	padding: var(--pad-half) var(--pad);
}

footer p {
	margin: 0;
}