@charset "utf-8";
/* CSS Document */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	background-color: grey;
}

h1, h2, h3, nav a {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px 30px;
	background-color: white;
}

header {
	background-color: #1224E8;
	margin: 0 -30px;
	padding: 20px;
}

header h1 {
	margin: 0;
	color: white;
}

main {
	padding-top: 30px;
}

article h1 {
	color: white;
	font-size: 4rem;
	margin: 0;
	padding: 30px;
}

.h1-desktop {
	background-color: crimson;
}

.h1-tablet {
	background-color: forestgreen;
	
}

.h1-phone {
	background-color: blueviolet;
	
}








