body {
  font-family: $font-family, sans-serif;
  text-rendering: optimizeLegibility;
  background: $background;
}

.container {
  background-color: $write;

  width: 100%;
  max-width: 1400px;
  @include margin-auto-padding-0;
}
