// Colours
$background: #e0ece8;
$header-bg: #ff4c2e;
$bottom-banner-color: #f2f2f2;
$write: #fff;

//Fonts
$font-family-elements: "Montserrat";
$font-family: "Karla";
$bottom-banner-ff: "Montserrat";
