@charset "utf-8";

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts 

font-family: 'Racing Sans One', cursive;
font-family: 'Open Sans', sans-serif;

*/

/* Typography styles */

body {
	font-family: 'Open Sans', sans-serif;	
	margin: 0;
}

h1, h2, h3 {
	font-family: 'Racing Sans One', cursive;
}

p, li {
	line-height: 1.4;
}

.top-section {
	height: 100vh;
}

header {
	display: flex;
	height: 70px;
	justify-content: space-between;
	position: relative;
	z-index: 9000;
}

header h1 {
	margin: 0;
	font-size: 2.5em;
	position: relative;
	top: 5px;
	left: 5px;
}

header h1 a {
	display: block;
	line-height: 65px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #127702;
}

header h1 a:hover,
header h1 a:focus,
header h1 a:active {
	background-color: #4aa03c;
}

header a {
	color: white;
	text-decoration: none;
	text-shadow: 2px 2px 3px black;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

header nav a {
	color: white;
	font-size: 1.3em;
	padding: 0 20px;
	font-weight: bold;
	line-height: 70px;
	display: block;
}

header nav a:hover,
header nav a:focus,
header nav a:active {
	text-decoration: underline;
}

.site-title {
	font-size: 5em;
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	color: white;
	text-shadow: 2px 2px 3px black;
}

main {
	max-width: 960px;
	background-color: white;
	margin: 0 auto;
	padding: 30px;
	display: block;
}

article h1, article h2 {
	text-align: center;
}

article h1 {
	margin-top: 0;
	font-size: 2.5em;
}

article h2 {
	font-size: 2.2em;
}

/* Video Background */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: absolute;
	top: 0;
	left: 0;
    height: 100%;
	width: 100%;
    background-color: black;
    overflow: hidden;
	border: 5px solid #47C1E7; 
}

/* Video as a background styles here... */
.homepage-hero-module video {
	width: 600px;
	height: auto;
}
